@charset "utf-8";

@font-face{ 
	font-family: 'Aileron';
	src: url('Aileron.eot');
	src: url('Aileron.eot?iefix') format('eot'),
	     url('Aileron.woff') format('woff'),
	     url('Aileron.ttf') format('truetype'),
	     url('Aileron.svg#webfont') format('svg');
}
