@charset "utf-8";

body {
  font-family: sans-serif;
}

.ans {
  color: #00009A;
}

.rotate-me {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: maroon;
  color: white;
  animation: spin 0.5s 5;
  transition: width 2s;
  transition-timing-function: linear;
}

#transition:hover {
  width: 300px;
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}