@charset "utf-8";

 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset code ^ */

img {
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header, main, footer{
  max-width: 1024px;
}

h1 {
  color: #72a9ae;
  padding: 2%;
  font-size: 200%;
  font-family: 'Open Sans';
  font-weight: 700;
}

body {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 80%;
}

.link-container {
  list-style-type: none;
  margin: 0;
  padding-left: 5%;
  overflow: hidden;
  background-color: #72a9ae;
}

.page-links {
  float: left;
}

.page-links a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.page-links a:hover {
  background-color: #e1e3e3;
}

h2 {
  color: #72a9ae;
  font-weight: 600;
  font-size: 150%;
}

.main-section {
  width: 100%;
  padding: 2% 3% 0 3%;
}

#about-info {
  width: 70%;
  padding-right: 7%;
}

#img-aside {
  float: right;
  width: 30%;
  padding: 5% 4% 0 3%;
}

table, th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

th {
  color: #72a9ae; 
  font-weight: 500;
  background-color: white;
}

tr:nth-child(even) {
  background-color: #e1e3e3;
}

#profile-section {
  width: 100%;
}

#form {
  margin-right: 15%;
}

form {
  max-width: 50%;
  font-weight: 600;
  padding-bottom: 5%;
  margin-right: 5%;
}

label {
  float: left;
  clear: left;
  padding: 5% 2% 10% 2%;
}

input[type=text], input[type=email], select, button {
  width: 60%;
  margin: 10px 10px 10px 30px;
  padding: 2%;
  float: right;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

button {
  background-color: white;
  cursor: pointer;
}

#form-display {
  float: right;
  width: 50%;
}

footer {
  background-color: #454545;
}

h3 {
  color: white;
  font-weight: 500;
  padding-bottom: 5%;
}

.bottom-banner {
  width: 100%;
  padding: 1% 2% 4% 2%;
}

#second-nav {
float: left;
width: 33%;
}

.qlinks {
  text-decoration: none;
  color: white;
}

#gonqwc {
  float: right;
  width: 33%;
}

.link-logo {
  width: 50px;
  height: auto;
}



