@charset "utf-8";

 /*http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset code ^ followed by page standards*/

img {
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header, main, footer {
  min-width: 600px;
  max-width: 1024px;
}

body {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 80%;
}

/* Header info, including navbar orientation */

h1 {
  color: #72a9ae;
  padding: 3% 0 3% 4%;
  font-size: 200%;
  font-family: '20_dbregular';
}

.link-container {
  list-style-type: none;
  margin: 0;
  padding-left: 1.5%;
  overflow: hidden;
  background-color: #72a9ae;
}

.page-links {
  float: left;
}

.page-links a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 500;
}

.page-links a:hover {
  background-color: #efefef;
}

/* .main-section begins */

.main-section {
  width: 100%;
  padding: 2% 3% 0 3%;
}

h2 {
  color: #72a9ae;
  font-weight: bold;
  font-size: 150%;
}

/* #first-section */

#about-info {
  width: 70%;
  padding-right: 7%;
}

#img-aside {
  float: right;
  width: 30%;
  margin: 3% 7% 0 3%;
  position: relative;
  bottom: 100%;
  cursor: pointer;
}

/* CSS Transition drop */

.css-trans {
  position: relative;
  animation: drop 3s;
}

@keyframes drop {
  0% {bottom: 300px; opacity: 0%}
  100% {bottom: 0px; opacity: 100%}
}

/* JavaScript Lightbox */

#image-overlay {
  position: fixed;
  right: 150px;
  bottom: 5px;
  width: 78%;
  height: auto;
  padding: 20px;
  background: lightslategrey;
  z-index: 1;
  display: none;
}

/* #sched-section */

table, th, td {
  border: 1px solid black;
  padding: 15px 22px 15px 22px;
  text-align: center;
  font-weight: 500;
}

th {
  color: #72a9ae; 
  background-color: white;
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #efefef;
}

/*media query for sched*/

@media (max-width:  600px) {
  table, th, td {
    padding: 1px 1px 1px 1px;
    font-size: 100%;
  }
}

/* #profile-section */

#profile-section {
  width: 100%;
}

/* #form-display / Profile Info div */

#form-display {
  float: right;
  width: 50%;
  margin-bottom: 2%;
}

#form-display h2 {
  position: relative;
  left: 13%;
}

#display-container {
  position: relative;
  top: 20px;
  right: 5%;
  background-color: white;
  width: 325px;
  height: 365px;
  margin: auto;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 4px 8px 0px grey;
}

#user-icon {
  width: 175px;
  height: 160px;
  padding-top: 5%;
  position: relative;
  top: 8%;
  border: 1px solid #72a9ae;
  border-radius: 50%;
  margin: auto;
}

#profile-info {
  position: relative;
  top: 10%;
}

#profile-name {
  font-size: 100%;
  font-weight: 700;
  color: #72a9ae;
}

#profile-info p {
  font-size: 125%;
  padding: 1%;
}

#mailto { /*No MailTo Functionality */
  margin-top: 4%;
  cursor: pointer;
}

/* Media query for form display*/
@media (max-width: 600px) {
  #form-display {
    position: relative;
    top: 300px;
    right: 280px;
  }
}

/* #form / Edit Profile article */

#form {
  margin-right: 15%;
}

form {
  max-width: 50%;
  font-weight: 600;
  padding-bottom: 5%;
}

label {
  float: left;
  clear: left;
  padding: 4% 0 4% 0;
  position: relative;
  bottom: 7px;
}

input[type=text], input[type=email], select, button[type=submit] {
  width: 55%;
  padding: 1.5%;
  float: right;
  position: relative;
  right: 25%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
}

button[type=submit] {
  background-color: white;
  cursor: pointer;
  width: 30%;
  margin-top: 20px
}

/* Media query for form */

@media (max-width: 600px) {
  form {
    padding-bottom: 70%;
  }

  input[type=text], input[type=email], select, button[type=submit] {
    width: 70%;
    padding: 1.5%;
    float: right;
    position: relative;
    left: 20%;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
  }

  button[type=submit] {
    background-color: white;
    cursor: pointer;
    width: 35%;
    margin-top: 20px
  }

}

/*Loading screen overlay*/

.buffer-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #d2d0bd 0%, #72a9ae 50%, #d2d0bd 100%);
  top: 0;
  z-index: 2;
}

.buffer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px dotted #d2d0bd;
  border-radius: 50%;
  border-top: 16px dotted #72a9ae;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {transform: rotate(360deg);
  }
}

/* .bottom-banner */

footer {
  background-color: #454545;
  width: 100%;
  padding: 1% 2% 1% 2%;
}

h3 {
  color: white;
  font-weight: bold;
  padding-bottom: 5%;
}

/* quick links nav */

#second-nav {
  float: left;
  width: 33%;
  padding-right: 10%;
}

#second-nav li {
  padding: 1%;
  position: relative;
  left: 1.5%;
}

.qlinks {
  text-decoration: none;
  color: white;
}

/* address div */

#gonqwc {
  float: right;
  width: 33%;
  position: relative;
  left: 12%;
}

.gonqadd {
  color: white;
  padding: 1%;
  position: relative;
  left: 1.5%;
}

/*social media nav */

.link-logos {
  position: relative;
  bottom: 40px;
  right: 40px;
}

/*Media query for footer*/

@media (max-width: 600px) {
  #second-nav {
    float: left;
    width: 33%;
    padding-right: 2%;
  }

  #gonqwc {
    float: right;
    width: 33%;
    position: relative;
    left: 2%;
  }

  .link-logos {
   position: relative;
   bottom: 20px; 
  }
}

